<div class="main-wrap">
  <div class="left-side">

  </div>
  <div class="right-side">
    <div class="image-wrap">
      <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/1/1f/Dwayne_Johnson_2014_%28cropped%29.jpg">
    </div>
    <div class="content-wrap">
      <h1 class="name">I'M CHATHURA MADHAVA.</h1>
      <h1 class="title">SOFTWARE DEVELOPER</h1>
      <br>
      <p class="bio">I'm a software developer focused on clean & user‑friendly experiences, <br><br>I am passionate about building excellent software that improves
        <br><br>the lives of those around me.</p>
      <div class="more" (click)="openModal()">
        MORE ABOUT ME
      </div>
    </div>
  </div>
</div>

