.main-wrap{
  width: 100%;
  height: 100%;
  display: flex;
}
.left-side{
  width: 15%;
  height: 100%;
  background-color: #DC9B00;
}
.right-side{
  width: 85%;
  height: 100%;
  background-color: #111111;
  display: flex;
}
.image-wrap{
  width: 400px;
  height: 550px;
  margin-top: 50px;
  margin-left: -150px;
  border-radius: 30px;
  -webkit-box-shadow: -1px 4px 30px 2px rgba(0,0,0,0.92);
  box-shadow: -1px 4px 30px 2px rgba(0,0,0,0.92);
}
.image{
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.content-wrap{
  margin-top: 50px;
  margin-left: 60px;
  width: 800px;
  height: 500px;
}
.name{
  margin-top: 120px;
  color: #DC9B00;
  font-size: 45px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
.title{
  margin-top: -20;
  color: #FFFFFF;
  font-size: 45px;
  font-family: 'Poppins', sans-serif;
}
.bio{
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 300;
}
.more{
  width: 200px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #FFB400;
  border-radius: 50px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.more:hover{
  cursor: pointer;
  background-color: #FFB400;
  color: #111111;
}
