<div class="main-wrap">
  <div class="heading-wrap">
    <h1 class="heading">ABOUT ME</h1>
  </div>
  <div class="part-01">
    <div class="information-wrap">
      <h1 class="info-heading">PERSONAL INFOS</h1>
      <div class="info-left-side">
        <p class="infos">First Name : Chathura</p>
        <p class="infos">Age : 27 Years</p>
        <p class="infos">Freelance : Available</p>
        <p class="infos">Phone : 0776464073</p>
        <p class="infos">WhatsApp : 0776464073</p>
      </div>
      <div class="info-right-side">
        <p class="infos">Last Name : Madhava</p>
        <p class="infos">Nationality : Sri Lankan</p>
        <p class="infos">Address : Sri Lanka</p>
        <p class="infos">E-mail : ctechict101@gmail.com</p>
        <p class="infos">Languages : English, Sinhala</p>
      </div>
      <div class="more">
        DOWNLOAD CV
      </div>
    </div>
    <div class="short-info-wrap">
        <div class="top">
          <div class="top-left">
            <h1 class="large-number">01+</h1>
            <h2 class="detail">YEARS OF</h2>
            <h2 class="detail">EXPERIENCE</h2>
          </div>
          <div class="top-right">
            <h1 class="large-number">02+</h1>
            <h2 class="detail">COMPLETED</h2>
            <h2 class="detail">PROJECTS</h2>
          </div>
        </div>
      <div class="bottom">
        <div class="top-left">
          <h1 class="large-number">10+</h1>
          <h2 class="detail">HAPPY</h2>
          <h2 class="detail">CUSTOMERS</h2>
        </div>
        <div class="top-right">
          <h1 class="large-number">08+</h1>
          <h2 class="detail">AWARDS</h2>
          <h2 class="detail">WON</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="part-02">
    <div class="heading-experience-wrap">
      <h1 class="heading-experience">EXPERIENCE & EDUCATION</h1>
    </div>
    <div class="experience-part-01">
      <div class="left">
        <h4 class="experience-time-period">2021 PRESENT</h4>
        <h2 class="experience-details">UI/UX DEVELOPER</h2>
        <h2 class="experience-details">Tesbious Technologies</h2>
      </div>
      <div class="right">
        <h4 class="experience-time-period">2021</h4>
        <h2 class="experience-details long">CMJD - Comprehensive Master Java Developer</h2>
        <h2 class="experience-details">IJSE</h2>
      </div>
    </div>
    <div class="experience-part">
      <div class="left">
        <h4 class="experience-time-period">2013</h4>
        <h2 class="experience-details">12th YOUNG COMPUTER SCIENTIST</h2>
        <h2 class="experience-details">FITIS</h2>
      </div>
      <div class="right">
        <h4 class="experience-time-period">2011</h4>
        <h2 class="experience-details">SCHOOL SOFTWARE COMPETITION WINNER</h2>
        <h2 class="experience-details">NEXIT</h2>
      </div>
    </div>
    <div class="experience-part">
      <div class="left">
        <h4 class="experience-time-period">2010</h4>
        <h2 class="experience-details">STUDENTS SOFTWARE COMPETITION</h2>
        <h2 class="experience-details">NEXIT</h2>
      </div>
      <div class="right">
        <h4 class="experience-time-period">2017</h4>
        <h2 class="experience-details long">HND - DIP IN HARDWARE & NETWORKING</h2>
        <h2 class="experience-details">ESOFT</h2>
      </div>
    </div>
  </div>
</div>
