<div class="main-wrap">
  <div class="heading-wrap">
    <h1 class="heading">MY PORTFOLIO</h1>
  </div>
  <br>
  <hr class="horizontal-line">
  <br>
  <div class="content-wrap">
    <div class="part-01">
      <div class="cell-divs">
        <div class="project project-one"(click)="openModal()"></div>
      </div>
      <div class="cell-divs">
        <div class="project"></div>
      </div>
      <div class="cell-divs">
        <div class="project"></div>
      </div>
    </div>
  </div>
  <br>
  <div class="content-wrap-02">
    <div class="part-01">
      <div class="cell-divs">
        <div class="project"></div>
      </div>
      <div class="cell-divs">
        <div class="project"></div>
      </div>
      <div class="cell-divs">
        <div class="project"></div>
      </div>
    </div>
  </div>
</div>
