<div class="main-wrap">
  <div class="heading-wrap">
      <h2 class="heading">PERSONAL INFOS</h2>
  </div>
  <div class="content-wrap">
    <div class="info-left-side">
      <p class="infos">First Name : Chathura</p>
      <p class="infos">Age : 27 Years</p>
      <p class="infos">Freelance : Available</p>
      <p class="infos">Phone : 0776464073</p>
      <p class="infos">WhatsApp : 0776464073</p>
    </div>
    <div class="info-right-side">
      <p class="infos">Last Name : Madhava</p>
      <p class="infos">Nationality : Sri Lankan</p>
      <p class="infos">Address : Sri Lanka</p>
      <p class="infos">E-mail : ctechict101@gmail.com</p>
      <p class="infos">Languages : English, Sinhala</p>
    </div>
    <div class="experience-wrap">
      <ul>
        <li class="experience-infos">1 YEAR OF EXPERIENCE</li>
        <li class="experience-infos">2 COMPLETED PROJECTS</li>
        <li class="experience-infos">10 HAPPY CUSTOMERS</li>
        <li class="experience-infos">8 AWARDS WON</li>
        <li class="experience-infos">STAND ANLONE AND WEB</li>
      </ul>
    </div>
    <hr class="horizontal-line">
    <div class="education-wrap">
      <div class="heading-wrap">
        <h2 class="heading">EDUCATION</h2>
      </div>
      <div class="education-content">
        <div class="education-left-side">
          <ul>
            <li class="infos-02">2021 Present - UI/UX Developer - Tesbious Technologies</li>
            <li class="infos-02">2021 - IJSE - CMJD - Comprehensive Master Java Developer</li>
            <li class="infos-02">2017 - ESOFT - HND - Diploma in Computer Hardware & Networking</li>
            <li class="infos-02">2013 - 12th Young Computer Scientist - FITIS</li>
            <li class="infos-02">2011 - School Software Competition Winner - NEXIT</li>
            <li class="infos-02">2010 - Student Software Competition - NEXIT</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
